
header {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #333;
}
/* Example styles for Home component */
.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.HeaderWithQuote {
  animation: fadeInUp 0.5s ease-out;
}

.bg-opacity-70 {
  background-color: rgba(255, 255, 255, 0.7); /* Increased opacity for stronger effect */
}

.backdrop-filter {
  backdrop-filter: blur(12px); /* Increased blur intensity */
}
